@import "src/style/variables";

.App-button {
  width: 10rem;
  max-width: 10rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem $black_primary;
  font-weight: bold;
  text-align: center;
}

.contained {
  box-shadow: 0 0 0.2rem $black_primary;
}

.primary {
  background: $green_primary;
  color: $white_primary;

  &:hover {
    background: $green_secondary;
    box-shadow: 0 0 0 $black_primary;
  }

  &[disabled] {
    cursor: not-allowed;
    background: $gray_secondary;
    box-shadow: 0 0 0.2rem $black_primary;
  }
}

.secondary {
  background: $gray_primary;
  color: $black_primary;

  &:hover {
    background: $gray_secondary;
    box-shadow: 0 0 0 $black_primary;
  }

  &[disabled] {
    background: $gray_secondary;
    box-shadow: 0 0 0.2rem $black_primary;
  }
}

.text {
  border: 1px solid $green_primary;
  box-shadow: none;
}

.text.primary {
  background: transparent;
  color: $black_primary;

  &:hover {
    background: $green_secondary;
  }

  &[disabled] {
    cursor: not-allowed;
    background: transparent;
    border: 1px solid $gray_secondary;
    color: $gray_secondary;
  }
}

.text.secondary {
  border: 1px solid $black_primary;
  background: transparent;
  color: $black_primary;

  &:hover {
    background: $gray_secondary;
  }

  &[disabled] {
    cursor: not-allowed;
    background: transparent;
    border: 1px solid $gray_secondary;
    color: $gray_secondary;
  }
}
