$green_primary: rgba(1, 116, 80, 0.97);
$green_secondary: rgba(25, 137, 102, 0.99);
$white_primary: #fafafa;
$gray_primary: gray;
$black_primary: rgb(38, 36, 36);

$white_secondary: rgb(230, 245, 240);;
$gray_secondary: silver;
