@import "src/style/variables";

.App-Progress {
  width: 100%;
  height: 10rem;
  padding: 2rem 0 0;
  background: #fafafa;
  display: inline-flex;
  flex-direction: row;
  color: $black_primary;
  box-shadow: 0 0 0.1rem $gray_secondary;

  &__step {
    display: inline-flex;
    //flex-direction: row;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 1rem;
    border-bottom: 0.5rem solid transparent;

    &__order {
      width: 2.4rem;
      height: 2.4rem;
      font-size: 1.4rem;
      line-height: 1.4rem;
      padding: 0.5rem;
      background: $black_primary;
      border-radius: 50%;
      align-self: center;
      margin: 1rem auto;
      color: $white_primary;
      box-shadow: 0 0 0.2rem $gray_primary;
    }

    &__label {
      align-self: center;
      width: auto;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.6rem;
      font-weight: bold;
      white-space: nowrap;
      text-shadow: 0 0 0.2rem $gray_primary;
    }
  }

  .active {
    color: $green_primary;
    border-bottom: 0.5rem solid $green_primary;

    .App-Progress__step__order {
      background: $green_primary;
      color: $white_primary;
    }
  }
}


@media all and (max-device-width: 500px) {
  .App-Progress {
    &__step {
      &__order {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 0.5rem;
      }

      &__label {
        font-size: 1.4rem;
      }
    }
  }
}
